<nav class="Desktop-Nav">
  <div class="navcontainer">

      <img class="Logo-img" src="/assets/FrameInverkids Logo.png">

      <ul class="navbar">
        <li class="navbar-item"> <a href="#" class="link"> Planes </a></li>
        <li class="navbar-item"> <a href="#" class="link"> Tienda </a></li>
        <li class="navbar-item"> <a href="#" class="link"> Nosotros </a></li>
        <li class="navbar-item"> <a href="#" class="link"> Blog </a></li>
        <li class="navbar-item"> <a href="#" class="link iniciarSesion"> Iniciar Sesion </a></li>
        <li class="navbar-item"> <button class="btn"> ¡Descarga ya! </button> </li>
      </ul>

  </div>
</nav>

<nav class="Mobile-Nav">

  <div class="Hamburger-Menu">
    <label> <a class="link" href="#menu"> &#9776; </a></label>
  </div>

  <img class="Logo-img" src="/assets/FrameInverkids Logo.png">

  <div class="Hamburger-Menu"></div>

</nav>

