
<div class="section">

</div>

<nav>
  <div class="container">

    <div class="child">
      <img src="/assets/FrameInverkids Logo.png">
    </div>

    <div class="child menu">
      <ul>
        <li> <a href="#"> Planes </a></li>
        <li> <a href="#"> Tienda </a></li>
        <li> <a href="#"> Nosotros </a></li>
        <li> <a href="#"> Blog </a></li>
        <li> <a href="#" id="InicioSesion"> Iniciar Sesion </a></li>
        <li> <button class="btn"> ¡Descarga ya! </button> </li>
      </ul>

    </div>

  </div>
</nav>

