
<div class="section">

  <div id="frame-1">
    <div class="container">

      <div class="text">
        <h2> Proximamente </h2>
        <h1> Si la vida te da naranjas, aprende sobre finanzas.</h1>
        <button class="btn"> Registrarme</button>
      </div>

      <div class="img">
        <img class="celular" src="/assets/inverlingo_mobile.gif">

      </div>
    </div>
  </div>

  <div id="frame-2">

    <div class="tittle-container">
      <h2 class="card-list-title"> Sólo te toma 5 minutos al día.</h2>
    </div>

    <div class="card-list">

      <div class="card">
        <img src="assets/inversiones.png" alt="Inversiones">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Inversiones</h2>
      </div>

      <div class="card">
        <img src="assets/creditos.png" alt="Creditos">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Creditos</h2>

      </div>

      <div class="card">
        <img src="assets/impuestos.png" alt="Impuestos">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Impuestos</h2>
      </div>

      <div class="card">
        <img src="assets/ahorros.png" alt="Ahorros">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Ahorros</h2>
      </div>

      <div class="card">
        <img src="assets/presupuesto.png" alt="Presupuesto">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Presupuesto</h2>
      </div>

      <div class="card">
        <img src="assets/retiro.png" alt="Gastos">
        <h3 class="card-text">Aprender sobre</h3>
        <h2 class="card-title">Gastos</h2>
      </div>
    </div>
  </div>

  <div id="frame-3">
    <div class="title-container">
      <h1 class="title">La app que te paga por aprender finanzas.</h1>
      <button class="btn descarga"> ¡Descarga ya! </button>
    </div>

    <div class="subtitle-container">
      <p class="subtitle">¿Cuánto cuesta?</p>
      <h2 class="text">Para tí es gratis, nos asociamos con instituciones financieras y compañías
        para acercarnos a jóvenes y brindarles educación financiera de calidad.</h2>
      <button class="btn regist"> Registrarme </button>
    </div>
  </div>

  <div id="frame-4">
    <div class="frame-container">

      <div class="top-section">
        <img class="img" src="/assets/newsletter.png">
        <h1 class="title">¡Suscríbete!</h1>
        <p class="text">Suscríbete para recibir nuestro
          blog semanal, noticias y eventos.</p>
      </div>

      <div class="mail-form">
        <input type="text" placeholder="e-mail" class="email" >
        <button class="btn">Suscríbete</button>
      </div>
    </div>

  </div>

  <div id="footer">
    <hr class="footer-linebreak">

    <div class="footer-container">
      <p class="text">© 2020. Inverkids. All Rights Reserved.</p>

      <div class="social">
        <a href="#" class="facebook"> <img src="/assets/Facebook.png"></a>
         <a href="#" class="instagram"> <img src="/assets/Instagram.png"></a>
      </div>

    </div>
  </div>

</div>



