#frame-1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F6FA;

  .container {
    width: 940px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0 5%;
      .title{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
      }
      .subtitle{
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 5%;
      }
      .btn{
        background-color: #0096F0;
        color: #FFFFFF;
        width: 120px ;
        height: 30px;
        border-radius: 20px;
        margin-top: 40px;
        border: none;
      }
    }
    .img {
      display: flex;
      justify-content: left;
      .celular {
        width: auto;
        height: 438px;
      }
    }
  }


  //Computer and Tablet
  @media screen and (max-width: 902px) {
    #frame-1{
      height: auto;
    }

    .container{
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      margin-bottom: 5%;
      flex-direction: column;
      .text{
        margin: 5% 5%;
        width: 400px;
        .subtitle{
          font-size: 16px;
          margin-bottom: 1%;
          line-height: 19.2px;
        }
        .title{
          font-size: 30px;
          line-height: 35px;
        }
        .btn{
          margin-top: 2%;
        }
      }

      .img{
        .celular{
          width: 338px;
          height: auto;
          margin: 0 7%;
        }
      }

    }
  }

  //Phone
  @media screen and (max-width: 400px) {
    #frame-1{
      height: auto;
    }

    .container {
      width: 100%;
      height: auto;

      .text{
        width: 70%;
        .title{
          font-size: 27px;
          line-height: 28px;
        }
        .subtitle{

        }
      }

      .img {
        .celular {
          width: 238px;
          height: auto;
          margin: 0 7%;
        }
      }
    }
  }
}

#frame-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;

  .tittle-container {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    .card-list-title {
      font-size: 34px;
      margin: 0 5%;
    }
  }

  .card-list {
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5%;

    .card {
      display: flex;
      height: 230px;
      width: 225px;
      margin: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card-text {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
      }

      .card-title {
        font-size: 24px;
        text-align: center;
      }
      .card-img {
        margin-bottom: 30px;
      }

    }
  }

  @media screen and (max-width: 400px) {
    .tittle-container{
      .card-list-title {
        font-size: 27px;
      }
    }
  }
}

#frame-3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;

  .btn{
    width: 120px ;
    height: 30px;
    border-radius: 20px;
    border: none;
  }

  .title-container{
    width: 100%;
    height: 50%;
    background-color: #14004B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .descarga{
      background-color:  #0096F0;
      color: #FFFFFF;
      margin-bottom: 69px;
    }
    .title{
      text-align: center;
      max-width: 686px;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
      margin: 100px 5% 40px 5%

    }
  }

  .subtitle-container{
    width: 100%;
    height: 50%;
    background-color: #0096F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .regist{
      background-color:#FFFFFF;
      color: #0096F0;
      margin-bottom: 100px;
    }
    .subtitle{

      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      text-align: center;

      margin: 100px 5% 40px 5%
    }
    .text{
      max-width: 780px;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.5px;

      margin: 0 7%;
      margin-bottom: 40px;
    }
  }

  //Computer & Tablet
  @media screen and (max-width: 902px) {
    .title-container{
      .title{
        display: flex;
        font-size: 36px;
        line-height: 52px;
        flex-wrap: wrap;
      }
    }

    .subtitle-container{
      .subtitle{
        display: flex;
        font-size: 16px;
        line-height: 25px;
        flex-wrap: wrap;
      }
    }
  }

  //Phone
  @media screen and (max-width: 400px ) {
    .title-container{
      .title{
        font-size: 32px;
        line-height: 37px;
        flex-wrap: wrap;
      }
    }

    .subtitle-container{
      .subtitle{
        font-size: 24px;
        flex-wrap: wrap;
      }
      .text{
        font-size: 24px;
        line-height: 25px;
        flex-wrap: wrap;
      }
    }
  }

}

#frame-4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F6FA;
  .top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 20px;
    }

    .text{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 5%;
    }

    .img{
      margin-top: 80px;
      margin-bottom: 60.51px;
    }

  }

  .mail-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

    .email{
      border-radius: 15px;
      border: none;
      background-color: #FFFFFF;
      width: 30%;
      height: auto;
    }
    .btn{
      width: 20% ;
      height: auto;
      border-radius: 20px;
      border: none;
      background-color:  #0096F0;
      color: #FFFFFF;
    }
  }
}

#footer{
  width: 100%;
  background-color: #F2F6FA;

  .footer-linebreak{
    width: 88%;
    height: 1px;
    margin-top: 0;
    border: 1px solid #E4E6EB;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .text{
      margin: 5%;
    }
    .social{
      display: flex;
      justify-content: space-between;
      border: none;
      margin: 5%;
      .instagram{
        display: flex;
      }
      .facebook{
        display: flex;
        margin-right: 21.8px;
      }
    }
  }

  @media screen and (max-width: 400px ){
    .footer-container{
      flex-direction: column;
      .text{
        order: 1;
        font-size: 12px;
        text-align: center;

      }
      .social{
        order: 0;
        margin-top: 4%;
      }
    }
  }
}


