$desktop: 1200px;
$laptop: 940px;
$tablet: 768px;
$phone: 480px;

#frame-1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F6FA;

  .container {
    width: 940px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .btn{
        background-color: #0096F0;
        color: #FFFFFF;
        width: 120px ;
        height: 30px;
        border-radius: 20px;
        margin-top: 40px;
        border: none;
      }
    }
    .img {
      display: flex;
      justify-content: left;
      .celular {
        width: auto;
        height: 438px;
      }
    }
  }
}

#frame-2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;

  .tittle-container{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    .card-list-title{
      font-size: 34px;
      text-align: center;
    }
  }

  .card-list {
    max-width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card{
      display: flex;
      height: 230px;
      width: 225px;
      margin: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card-text{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
      }

      .card-title{
        font-size: 24px;
        text-align: center;
      }
      .card-img{
        margin-bottom: 30px;
      }

    }
  }
}

#frame-3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;

  .btn{
    width: 120px ;
    height: 30px;
    border-radius: 20px;
    border: none;
  }

  .title-container{
    width: 100%;
    height: 50%;
    background-color: #14004B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .descarga{
      background-color:  #0096F0;
      color: #FFFFFF;
      margin-bottom: 69px;
    }
    .title{
      text-align: center;
      width: 686px;
      margin-top: 69px;
      margin-bottom: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
    }
  }

  .subtitle-container{
    width: 100%;
    height: 50%;
    background-color: #0096F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .regist{
      background-color:#FFFFFF;
      color: #0096F0;
      margin-bottom: 100px;
    }
    .subtitle{
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 100px;
    }
    .text{
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.5px;
      margin-bottom: 40px;
    }
  }
}

#frame-4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F6FA;
  .top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 20px;
    }

    .text{
      width: 386px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 30px;
    }

    .img{
      margin-top: 80px;
      margin-bottom: 60.51px;
    }

  }

  .mail-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

    .email{
      border-radius: 15px;
      border: none;
      background-color: #FFFFFF;
      width: 340px;
      height: 30px;
    }
    .btn{
      width: 120px ;
      height: 30px;
      border-radius: 20px;
      border: none;
      background-color:  #0096F0;
      color: #FFFFFF;
    }
  }

}

#footer{
  width: 100%;
  background-color: #F2F6FA;
  .footer-linebreak{
    width: 88%;
    height: 1px;
    margin-top: 0;
    border: 1px solid #E4E6EB;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .text{
      margin: 35px 0 31px 84px;
    }
    .social{
      display: flex;
      justify-content: space-between;
      margin-right: 71.11px;
      border: none;
      .instagram{
        display: flex;
      }
      .facebook{
        display: flex;
        margin-right: 21.8px;
      }
    }
  }
}


